#ignore all gz files
*.gz

#ignore all idx files
*.idx

#ignore all db files
*.db

#ignore all db files
*.db

#ignore mac db_store files
*.DS_Store

#ignore all files in files folder
!/files/
files/*

#ignore node 
node_modules
build
npm-debug.log
.env

#logs
logs
*.log
